CLUSTER_ID=

MONGO_USER=admin
MONGO_PASSWORD=supersecret_mongo

# Notifiche Telegram: crea un bot con @BotFather e ottieni il token.
# Per il CHAT_ID, scrivi un messaggio al bot e vai su:
# https://api.telegram.org/bot<TOKEN>/getUpdates
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=